<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <title>ur shortrl</title>
</head>
<body>
    <div id="center">
    <fieldset>
        <legend>URL SHORTER</legend>
        <form action="api/shorturl" method="POST">
        <input id="url_input" type="text"name="url">
        <input value="POST"type="submit"/></form>
    </fieldset>
   
    </div>
     <footer>ALL RIGHTS ARE RESIVED 2024</br>
        ABDULLAH SAID
    </footer>
</body>
</html>