<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <title>ur shortrl</title>
</head>
<body>
    <header>
        <ul><li class="nav-a"><a href="#about">about</a></li>
            <li><a href="benifits">benifits</a></li>
            <li>

            </li>
        </ul>
    </header>
    <div id="center">
    <fieldset>
        <legend>BRO SEND THE NOTES</legend>
        <h3 id="textHolder"></h3>
    </fieldset>
   
    </div>
     <footer>ALL RIGHTS ARE RESIVED 2024</br>
                <h3 id="textHolder"></h3>

    </footer>
    <script src="main.js"></script>
</body>
</html>